.collapse {
  width: 100%;
}
button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-top: 30px;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 1.5vw;
  background-color: #ff6060;
  color: white;
  border-style: none;
  border-radius: 5px;
}
button img {
  margin-right: 20px;
  width: 1.5vw;
}
.toggle {
  width: 100%;
  padding-top: 30px;
  text-align: start;
  background-color: #f7f7f7;
  border-radius: 0 0 5px 5px;
}
p {
  margin: 0;
  padding: 0 0 10px 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 30px;
  color: #ff6060;
}
