@media screen and (max-width: 782px) {
  .housing_sheet .banner {
    height: 55vw;
  }

  .housing_sheet .collapse {
    width: 160vw;
  }

  .housing_sheet .collapse button {
    height: 40px;
    font-size: 2.5vw;
  }

  .housing_sheet button img {
    width: 2.3vw;
  }

  .housing_sheet p {
    font-size: 2.5vw;
  }
}
