@media screen and (max-width: 782px) {
  .main_information {
    flex-direction: column;
  }
  .title_location h1 {
    font-size: 3.8vw;
  }
  .title_location p {
    font-size: 3.2vw;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .user_infos {
    justify-content: end;
    order: 2;
    gap: 5vw;
  }
  .user_infos h3 {
    font-size: 2.6vw;
  }
  .user_infos img {
    width: 50px;
    height: 50px;
  }
  .rateContainer {
    order: 1;
  }
  .rateContainer img {
    width: 3vw;
    height: 3vw;
  }
  .description {
    flex-direction: column;
    gap: 0;
  }
  .description button {
    width: 100%;
    font-size: 2.4vw;
  }
  .description .toggle {
    width: 100%;
  }
  .description .toggle p,
  .equipment {
    width: 70%;
    font-size: 2.4vw;
  }
}
